.winning-numbers-container {
    width: 370px;
    height: 138px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.play-lottery {
    color: gray;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.random-numbers {
    margin: 5px;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background-color:royalblue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
