.current-ticket {
    display: flex;
    margin: 10px;
    height: 58px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-bottom: 1px dashed #ddd;
}

.selected-number {
    margin: 5px;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkcyan;
    font-weight: bold;
    border: 1px dashed;
}
