.numbers-container {
    margin: 10px;
    width: 22px;
}

.btn-number {
    border: 0;
    border-radius: 50%;
    color: white;
    width: 40px;
    height: 40px;
    padding: 0;
    font-size: medium;
    font-family: sans-serif;
}
